#WelcomeMessageMessage {
    position: absolute;
    z-index: -5;
    color: lightgrey;
    text-align: center;
    width: screen;
    /* font-family: 'Montserrat', sans-serif; */
    font-size: 5vw;
    font-weight: lighter;
}

#WelcomeMessageMessageBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainImage{
    z-index: -10;
  }


