#headSectionContainer {
    background-color: lightgray;
    color: white;
    width: 100%;
    height: 100px;
    margin: 0;
    padding: 1%;
    display: flex;
    justify-content: space-between;
}

.headSectionColumns {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;

}

#headSectionLogo{
    font-size: 2vw;
    margin: 0;
    text-align: center;
    height: fit-content;
}

.headSectionColumn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.headSectionColumn > div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#headSectionNavWrap{
    margin: 0;
    text-align: center;
    height: fit-content;
}

#searchAndLogo{
    display: flex;
    justify-content: space-between;
}

.test {
    font-family: 'Times New Roman', Times, serif;
}

#smallScreenSearchContainer {
    display: none;
}

@media screen and (max-width: 767px) {

    #headSectionContainer {
        height: 80px;
    }

    #smallScreenSearchContainer {
        display: flex;
        height: 6vh;
        background-color: lightgray;
        margin-top: 0.5vh;
        padding-right: 0;
    }

    #headSectionSearchColumn {
        display: none;
    }

    #headSectionLogo{
        font-size: 3vw;
    }

    #smallScreenSearchContainerBox {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-right: 0;
    }
}